$lh: 1.42rem;
$medium: 1.2rem;

$breakpoint-mobile-max: 600px;


$breakpoint-mobile-max     : 320px;
$breakpoint-mobile-max     : 575px;

$breakpoint-smalltablet-min: 576px;
$breakpoint-smalltablet-max: 767px;

$breakpoint-largetablet-min: 768px;
$breakpoint-largetablet-max: 1024px;

$breakpoint-smallscreen-min: 1025px;
$breakpoint-smallscreen-max: 1399px;

$breakpoint-largescreen-min: 1400px;
$breakpoint-largescreen-max: 2559px;

$breakpoint-2k-min: 2560px;
$breakpoint-2k-max: 3839px;

$breakpoint-4k-min: 3840px;


// 

.navQuality:hover, 
.navQuality:active{
  p {
    color: #9539ce;
  }
  div{
    background-color: #9539ce;
  }

}

.purple:hover, .purple:active{
     color: #9539ce
}

.blue:hover, .blue:active{
  color: #4763FF;
}

.yellow:hover, .yellow:active{
  color: #F7C644;
}

.orange:hover, .orange:active{
  color: #FF7347;
}

.brown:hover, .brown:active{
     color: #906514
}

.pink:hover, .pink:active{
     color: #f7afbc
}

.green:hover, .green:active{
     color: #65ac9b
}