@import "_variables.scss";

.boundParent{
  position: absolute;
  top: calc($lh * 2.4);
  height: calc(100vh - $lh * 2.4);
  left: 0;
  right: 0;
}

.commerceFigureContainer{
  position: absolute;
  top: 0;
  left: $lh;

  transform: translate($lh, $lh);

  cursor:grab !important;
  z-index: 500;


  border: 2px white solid;
  img{
    display: block;
    pointer-events: none;
  }
}