@import "_variables.scss";

.boundParent {
  position: absolute;
  top: calc($lh * 2.4);
  height: calc(100vh - $lh * 2.4);
  left: 0;
  right: 0;
}

.commerceFigureContainer {
  position: absolute;
  top: 0;
  left: $lh;
  z-index: 500;

  cursor: grab !important;
  // border: 2px white solid;

  img {
    display: block;
    pointer-events: none;
    transition: 0.5s;

    max-height: calc(100vh - $lh * 13);
    max-width: calc(40vw - $lh * 3);

    @media only screen and (max-width: $breakpoint-smallscreen-max) {
      max-height: calc(95vh - $lh * 13);
    }

    @media only screen and (max-width: $breakpoint-largetablet-max) {
      max-height: calc(90vh - $lh * 13);
      max-width: calc(50vw - $lh * 3);
    }

    @media only screen and (max-width: $breakpoint-smalltablet-max) {
      max-height: calc(70vh - $lh * 13);
      max-width: calc(70vw - $lh * 3);
    }
    box-shadow: 0px 0px $lh * 0.3 rgba(50, 50, 50, 0.5);

  }
}

.commerceFigureContainer:hover, .commerceFigureContainer:active, .commerceFigureContainer:focus {
  img {
    box-shadow: 0px 0px $lh * 0.6 rgba(50, 50, 50, 0.9);
  }
}