@import '_variables.scss';

.emojisContainer{
  div{
    position: fixed;

    z-index: 100;
    
    font-family: var(--menufont);
    font-weight: var(--menuweight);
    font-style: italic;
    text-align: center;
    font-size: 1.1rem;
    line-height: 1em;

    transition: 0.3s;
  }
}