@import "_variables.scss";

.homeSwiper{
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 70vw;
  height: 70vh;

  max-width: 100vh;

  @media only screen and (max-width: $breakpoint-smalltablet-max) {
    width: 80vw;
    height: 80vh;
  }
  @media only screen and (max-width: $breakpoint-mobile-max) {
    max-width: 95vw;
  }
}

.swiperSlide{
  img{
    object-fit: contain;
    width: 100%;
    height: 100%;
  }
}

.homeTypewriter{
  position: fixed;
  top: 1rem;
  left: 50%;
  width: 100%;
  transform: translate(-50%);

  font-family: var(--menufont);
  font-weight: var(--menuweight);
  font-size: var(--menusize);
  line-height: 1em;
  z-index: 600;
  color: black;
  text-align: center;
}

.homeLinks{
  position: fixed;
  bottom: $lh;
  left: $lh;
  width: 50%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-content: space-between;
  align-items: flex-end;
  a{
    text-transform: none;
  }

  @media only screen and (max-width: $breakpoint-largetablet-max) {
    width: 75%;
  }
}
