@import "_variables.scss";

.qualitySettingsContainer {

  background-color: #fcfcfc;
  top: 0;
  left: 0;

  a{

      text-decoration: none;
      color: black;
      text-transform: capitalize;
  
      font-family: var(--menufont);
      font-weight: var(--menuweight);
      text-align: center;
      font-size: var(--menusize);
      line-height: 1rem;
  
      transition: 0.3s;
    
  }
}
.qualityContainer{
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  
  display: grid;
  grid-template-columns:  min-content min-content;
  gap: 3vw;
}



.qualityHighContainer,
.qualityLowContainer {
  border: none;
  background: none;
  padding: none;
  cursor: pointer;

display: flex;
flex-direction: column;
align-items: stretch;
gap: $lh * 0.6;
transition: 0.3s;

  img {
    object-fit: contain;
    max-height: 40vh;
    max-width: 40vw;
    border-radius: 0.3vh;
  }
  h1{
    text-align: center;
    font-weight: 500;
  }
}

@media (hover: hover){
  .qualityHighContainer:hover, .qualityLowContainer:hover{
    transform: scale(1.02);
  }
}

.qualityHighContainer {
  font-family: NeueMontreal, Arial, sans-serif;
  font-size: $lh * 1.5;

}

.qualityLowContainer {
  font-family: Mondwest, 'Times New Roman', Times, serif;
  font-size: $lh * 1.7;

}


.qualityText {
  display: block;
  z-index: 700;
  position: absolute;

  bottom: $lh * 2;
  left: 50%;
  transform: translateX(-50%);

  // width: 40vw;
  // max-width: 800px;
  height: auto;

  font-family: NeueMontreal, Helvetica, Arial, sans-serif;
  font-weight: 500;
  text-align: center;
  font-size: 1.2rem;
  line-height: 1em;

}


.landingTypewriter{
  position: fixed;
  top: 2.1rem;
  left: $lh;

  font-family: var(--menufont);
  font-weight: var(--menuweight);
  font-size: var(--menusize);
  line-height: 1em;
  z-index: 600;
  color: black;
  text-align: left;
  opacity: 0.1;

  // @media only screen and (max-width: $breakpoint-smalltablet-max) {
  //   left: $lh * 0.9;
  //   top: 1rem;
  //   inline-size: min-content;
  // }
}

.typewriterShow{
  opacity: 1 !important;
}