@import "_variables.scss";

.qualitySettingsContainer {

  background-color: #fcfcfc;
  top: 0;
  left: 0;

  a{

      text-decoration: none;
      color: black;
      text-transform: capitalize;
  
      font-family: var(--menufont);
      font-weight: var(--menuweight);
      text-align: center;
      font-size: var(--menusize);
      line-height: 1rem;
  
      transition: 0.3s;
    
  }
}

.qualityPhoto {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 30vw;

  z-index: 900;
  pointer-events: none;
  opacity: 0;
}

.qualityPhotoShow{
  opacity: 1;
}


.qualityHighContainer,
.qualityLowContainer {

  border: none;
  cursor: pointer;
  background: transparent;
  transition: 0.3s;

  height: 12vw;
  width: 48vw;
  background-repeat: no-repeat;
  transition: 0.3s;
  margin: 0;
  position: absolute;
  z-index: 800;

  padding: 0.5vw;

  h2 {
    margin: 3vh 0;
    font-weight: normal;
    text-align: center;
    line-height: 1.1em;
    font-size: 2vh;
    letter-spacing: 0.05em;
  }
  @media only screen and (max-width: $breakpoint-largetablet-max) {
    height: 18vw;
    width: 72vw;
  }

}

.qualityHighContainer {
  position: fixed;
  top: calc(50% - 6vw);
  left: 50%;
  transform: translate(-50%, -50%);

  @media only screen and (max-width: $breakpoint-largetablet-max) {
    top: calc(50% - 9vw);
    left: 50%;
  }
}

.qualityLowContainer {
  position: fixed;
  top: calc(50% + 6vw);
  left: 50%;
  transform: translate(-50%, -50%);

  @media only screen and (max-width: $breakpoint-largetablet-max) {
    top: calc(50% + 9vw);
    left: 50%;
  }
}


.qualityText {
  display: block;
  z-index: 700;
  position: absolute;

  bottom: $lh * 2;
  left: 50%;
  transform: translateX(-50%);

  // width: 40vw;
  // max-width: 800px;
  height: auto;

  font-family: NeueMontreal, Helvetica, Arial, sans-serif;
  font-weight: 500;
  text-align: center;
  font-size: 1.2rem;
  line-height: 1em;

}


.landingTypewriter{
  position: fixed;
  top: 2.1rem;
  left: $lh;

  font-family: var(--menufont);
  font-weight: var(--menuweight);
  font-size: var(--menusize);
  line-height: 1em;
  z-index: 600;
  color: black;
  text-align: left;

  // @media only screen and (max-width: $breakpoint-smalltablet-max) {
  //   left: $lh * 0.9;
  //   top: 1rem;
  //   inline-size: min-content;
  // }
}
