@import "../../styles/_variables.scss";

.swiper {
  width: 100%;
  padding: 0;
  padding-bottom: $lh * 1.7 !important;
  
  margin-bottom: $lh * 1.7;

  height: calc(100vh - $lh * 7);
  
  @media only screen and (max-width: $breakpoint-mobile-max) {
    max-height: calc(100vh - $lh * 9);
  }
}

.swiper-wrapper{
  align-items: center;
}

.swiperBlock {}

.swiperSlide {
  padding: 0 $lh * 1.5;
  
  @media only screen and (max-width: $breakpoint-mobile-max) {
    padding: $lh;
  }

  img {
    width: 100%;
    height: 100%;
    object-fit: contain;
  }

  -webkit-backface-visibility: hidden;
  -webkit-transform: translate3d(0, 0, 0);
}

.swiperButtonPrev {
  position: absolute;
  left: $lh * 0.5;
  top: calc(50% - 2rem);
}

.swiperButtonNext {
  position: absolute;
  right: $lh * 0.5;
  top: calc(50% - 2rem);

  transform: rotate(180deg);
}

.swiperButtonPrevWide {
  position: absolute;
  z-index: 100;
  border: none;
  background: none;

  left: 0;
  top: 0;
  height: 100%;
  width: 50%;
  cursor: w-resize;
}

.swiperButtonNextWide {
  position: absolute;
  z-index: 100;
  border: none;
  background: none;

  right: 0;
  top: 0;
  height: 100%;
  width: 50%;
  cursor: e-resize;
}